body{
    background:#bcefbc;
}

div.title{
    width:965px;
    height:95px;
    background-color:#007700;
    color:#ffffff;
    font-size:60px;
    font-weight:bold;
    padding-top:15px;
    padding-left:35px;
    text-align:left;
    margin-bottom:30px;
}

div.menu-top{
    width:240px;
    height:40px;
    background-color:#44ee44;
    color:#000000;
    font-size:15px;
    padding-top:20px;
    padding-left:10px;
    margin-bottom:10px;
}

div.menu-1{
    width:240px;
    height:40px;
    background-color:#88ff88;
    color:#000000;
    font-size:15px;
    padding-top:20px;
    padding-left:10px;
    margin-bottom:10px;
}

div.image-16_9{
    width:480px;
    height:270px;
    color:#000000;
    font-size:15px;
    margin-bottom:10px;
}

div.image-auto{
    width:0px auto;
    height:0px auto;
    color:#000000;
    font-size:15px;
    margin-bottom:10px;
}

.sentence-c_l{
    width:480px;
    height:0px auto;
    background-color:#ddddff;
    color:#000000;
    font-size:15px;
    text-align:left;
    margin-bottom:40px;
}

.sentence-c_c{
    width:480px;
    height:0px auto;
    background-color:#ddddff;
    color:#000000;
    font-size:15px;
    text-align:center;
    margin-bottom:40px;
}

.sentence-nc_l{
    width:480px;
    height:0px auto;
    color:#000000;
    font-size:15px;
    text-align:left;
    margin-bottom:40px;
}

.sentence-nc_c{
    width:480px;
    height:0px auto;
    color:#000000;
    font-size:15px;
    text-align:center;
    margin-bottom:40px;
}

.txt-red{
    color:#ff0000;
}

div.footer{
    width:990px;
    height:30px;
    background-color:#05af05;
    color:#f9f9f9;
    padding-top:10px;
    padding-right:10px;
    text-align:right;
    margin-top:10px;
}

div.center{
    width:1000px;
    font-size:0;
}

div.menu-main{
    display:inline-block;
    vertical-align:top;
    margin-left:100px;
}

div.contents{
    display:inline-block;
    vertical-align:top;
    margin-left:70px;
}

div.all{
    width:1000px;
    margin:0px auto;
    background-color:#effeed
}