/* 基幹 */
body{
    background:#bcefbc;
}


/* ヘッダー */
div.title{
    width:917px;
    height:102px;
    background-color:#007700;
    color:#ffffff;
    font-size:60px;
    font-weight:bold;
    padding-top:15px;
    padding-left:35px;
    text-align:left;
    margin-bottom:30px;
}


/* MENU-ALL */
div.menu-main{
    width:952px;
    height:412px;
    vertical-align:top;
    margin-bottom:50px;
}

div.menu-top{
    width:932px;
    height:64px;
    background-color:#44ee44;
    color:#000000;
    font-size:30px;
    padding-top:20px;
    text-align:center;
    margin-bottom:10px;
    border:10px solid #009900;
}

div.menu-1{
    width:932px;
    height:64px;
    background-color:#99ff99;
    color:#000000;
    font-size:30px;
    padding-top:20px;
    text-align:center;
    margin-bottom:10px;
    border:10px solid #009900;
}


/* 文章ボックス */
.sentence-c_l{
    width:92%;
    height:auto;
    background-color:#ddddff;
    color:#000000;
    font-size:30px;
    text-align:left;
    margin-bottom:40px;
}

.sentence-c_c{
    width:92%;
    height:auto;
    background-color:#ddddff;
    color:#000000;
    font-size:30px;
    text-align:center;
    margin-bottom:40px;
}

.sentence-nc_l{
    width:92%;
    height:auto;
    color:#000000;
    font-size:30px;
    text-align:left;
    margin-bottom:40px;
}

.sentence-nc_c{
    width:100%;
    height:auto;
    color:#000000;
    font-size:30px;
    text-align:center;
    margin-bottom:40px;
}

/* 部分赤 */
.txt-red{
    color:#ff0000;
}

/* 見出し */
h1{
    font-size:55px;
}
h2{
    font-size:45px;
}
h3{
    font-size:35px;
}

/* 画像 */
img{
    width:92%;
}

.sentence-c_c img{
    width:100%;
}
.sentence-c_l img{
    width:100%;
}
.sentence-nc_c img{
    width:100%;
}
.sentence-nc_l img{
    width:100%;
}


/* フッター */
div.footer{
    width:937px;
    height:47px;
    background-color:#05af05;
    color:#f9f9f9;
    font-size:25px;
    padding-top:10px;
    padding-right:15px;
    text-align:right;
    margin-top:10px;
}


/* センター */
div.center{
    width:952px;
    font-size:0;
}


/* 内部コンテンツ */
div.contents{
    width:900px;
    display:inline-block;
    vertical-align:top;
    margin-left:60px;
}


/* 全体 */
div.all{
    width:952px;
    margin:auto;
    background-color:#effeed;
}