/* 基幹 */
body{
    background:#bcefbc;
}


/* ヘッダー */
div.title{
    width:965px;
    height:95px;
    background-color:#007700;
    color:#ffffff;
    font-size:60px;
    font-weight:bold;
    padding-top:15px;
    padding-left:35px;
    text-align:left;
    margin-bottom:30px;
}


/* MENU-ALL */
div.menu-all{
    width:240px;
    display:inline-block;
    vertical-align:top;
    margin-left:100px;
}

div.menu-top{
    width:230px;
    height:40px;
    background-color:#44ee44;
    color:#000000;
    font-size:15px;
    padding-top:20px;
    padding-left:15px;
    margin-bottom:10px;
    border:5px solid #009900;
}

div.menu-1{
    width:230px;
    height:40px;
    background-color:#99ff99;
    color:#000000;
    font-size:15px;
    padding-top:20px;
    padding-left:15px;
    margin-bottom:10px;
    border:5px solid #009900;
}


/* 文章ボックス */
.sentence-c_l{
    width:100%;
    height:auto;
    background-color:#ddddff;
    color:#000000;
    font-size:15px;
    text-align:left;
    margin-bottom:40px;
}

.sentence-c_c{
    width:100%;
    height:auto;
    background-color:#ddddff;
    color:#000000;
    font-size:15px;
    text-align:center;
    margin-bottom:40px;
}

.sentence-nc_l{
    width:100%;
    height:auto;
    color:#000000;
    font-size:15px;
    text-align:left;
    margin-bottom:40px;
}

.sentence-nc_c{
    width:100%;
    height:auto;
    color:#000000;
    font-size:15px;
    text-align:center;
    margin-bottom:40px;
}

/* 部分赤 */
.txt-red{
    color:#ff0000;
}

/* 画像 */
img{
    width:100%;
}


/* フッター */
div.footer{
    width:990px;
    height:30px;
    background-color:#05af05;
    color:#f9f9f9;
    font-size:15px;
    padding-top:10px;
    padding-right:10px;
    text-align:right;
    margin-top:10px;
}


/* センター */
div.center{
    width:1000px;
    font-size:0;
}


/* 内部コンテンツ */
div.contents{
    width:525px;
    display:inline-block;
    vertical-align:top;
    margin-left:40px;
}


/* 全体 */
div.all{
    width:1000px;
    margin:auto;
    background-color:#effeed
}