/* BODY */
body{
    background:#bcefbc;
}


/* TITLE */
div.title{
    width:965px;
    height:95px;
    background-color:#007700;
    color:#ffffff;
    font-size:60px;
    font-weight:bold;
    padding-top:15px;
    padding-left:35px;
    text-align:left;
    margin-bottom:30px;
}


/* MENU-ALL */
div.menu-all{
    width:240px;
    display:inline-block;
    vertical-align:top;
    margin-left:100px;
}

.menu-0{
    width:230px;
    height:40px;
    display:inline-block;
    vertical-align:top;
    background-color:#44ee44;
    color:#000000;
    text-decoration:none;
    padding-top:20px;
    padding-left:15px;
    margin-bottom:10px;
    border:5px solid #009900;
}
.menu-0-sele{
    width:230px;
    height:40px;
    display:inline-block;
    vertical-align:top;
    background-color:#44ee44;
    color:#000000;
    text-decoration:none;
    padding-top:20px;
    padding-left:15px;
    margin-bottom:10px;
    border:5px solid #009900;
}.menu-0-sele:hover{
    cursor:pointer;
    text-decoration:none;
    background-color:#11bb11;
}

.menu-1{
    width:230px;
    height:40px;
    display:inline-block;
    vertical-align:top;
    background-color:#99ff99;
    color:#000000;
    text-decoration:none;
    padding-top:20px;
    padding-left:15px;
    margin-bottom:10px;
    border:5px solid #009900;
}
.menu-1-sele{
    width:230px;
    height:40px;
    display:inline-block;
    vertical-align:top;
    background-color:#99ff99;
    color:#000000;
    text-decoration:none;
    padding-top:20px;
    padding-left:15px;
    margin-bottom:10px;
    border:5px solid #009900;
}.menu-1-sele:hover{
    cursor:pointer;
    text-decoration:none;
    background-color:#66cc66;
}


/* SENTENCE */
.sentence-c_l{
    width:100%;
    height:auto;
    background-color:#ddddff;
    color:#000000;
    text-align:left;
    margin-bottom:40px;
}

.sentence-c_c{
    width:100%;
    height:auto;
    background-color:#ddddff;
    color:#000000;
    text-align:center;
    margin-bottom:40px;
}

.sentence-nc_l{
    width:100%;
    height:auto;
    color:#000000;
    text-align:left;
    margin-bottom:40px;
}

.sentence-nc_c{
    width:100%;
    height:auto;
    color:#000000;
    text-align:center;
    margin-bottom:40px;
}

/* TXT-RED */
.txt-red{
    color:#ff0000;
}

/* DEFAULT FONT */
* h1{
    font-size:34px;
}
* h2{
    font-size:26px;
}
* h3{
    font-size:18px;
}
* p{
    font-size:16px;
}
* a{
    font-size:16px;
}
* li{
    font-size:16px;
}

/* IMG */
img{
    width:100%;
}


/* FOOTER */
div.footer{
    width:990px;
    height:30px;
    background-color:#05af05;
    color:#f9f9f9;
    font-size:16px;
    padding-top:10px;
    padding-right:10px;
    text-align:right;
    margin-top:10px;
}


/* CENTER */
div.center{
    width:1000px;
    font-size:0;
}


/* CONTENTS */
div.contents{
    width:525px;
    display:inline-block;
    vertical-align:top;
    margin-left:40px;
}


/* ALL */
div.all{
    width:1000px;
    margin:auto;
    background-color:#effeed
}