/* BODY */
body{
    background:#bcefbc;
}


/* TITLE */
div.title{
    width:817px;
    height:92px;
    background-color:#007700;
    color:#ffffff;
    font-size:56px;
    font-weight:bold;
    padding-top:15px;
    padding-left:35px;
    text-align:left;
    margin-bottom:30px;
}


/* MENU-ALL */
div.menu-all{
    width:860px;
    height:330px;
    vertical-align:top;
    margin-bottom:50px;
}

.menu-0{
    width:832px;
    height:47px;
    display:inline-block;
    vertical-align:top;
    background-color:#44ee44;
    color:#000000;
    padding-top:20px;
    text-align:center;
    margin-bottom:10px;
    border:10px solid #009900;
}
.menu-0-sele{
    width:832px;
    height:47px;
    display:inline-block;
    vertical-align:top;
    background-color:#44ee44;
    color:#000000;
    padding-top:20px;
    text-align:center;
    margin-bottom:10px;
    border:10px solid #009900;
}.menu-0-sele:hover{
    cursor:pointer;
    text-decoration:none;
    background-color:#11bb11;
}

.menu-1{
    width:832px;
    height:47px;
    display:inline-block;
    vertical-align:top;
    background-color:#99ff99;
    color:#000000;
    padding-top:20px;
    text-align:center;
    margin-bottom:10px;
    border:10px solid #009900;
}
.menu-1-sele{
    width:832px;
    height:47px;
    display:inline-block;
    vertical-align:top;
    background-color:#99ff99;
    color:#000000;
    padding-top:20px;
    text-align:center;
    margin-bottom:10px;
    border:10px solid #009900;
}.menu-1-sele:hover{
    cursor:pointer;
    text-decoration:none;
    background-color:#66cc66;
}


/* SENTENCE */
.sentence-c_l{
    width:100%;
    height:auto;
    background-color:#ddddff;
    color:#000000;
    text-align:left;
    margin-bottom:40px;
}

.sentence-c_c{
    width:100%;
    height:auto;
    background-color:#ddddff;
    color:#000000;
    text-align:center;
    margin-bottom:40px;
}

.sentence-nc_l{
    width:100%;
    height:auto;
    color:#000000;
    text-align:left;
    margin-bottom:40px;
}

.sentence-nc_c{
    width:100%;
    height:auto;
    color:#000000;
    text-align:center;
    margin-bottom:40px;
}

/* TXT-RED */
.txt-red{
    color:#ff0000;
}

/* DEFAULT FONT */
* h1{
    font-size:43px;
}
* h2{
    font-size:34px;
}
* h3{
    font-size:25px;
}
* p{
    font-size:22px;
}
* a{
    font-size:22px;
}
* li{
    font-size:22px;
}

/* IMG */
img{
    width:100%;
}


/* FOOTER */
div.footer{
    width:837px;
    height:42px;
    background-color:#05af05;
    color:#f9f9f9;
    padding-top:10px;
    padding-right:15px;
    text-align:right;
    margin-top:10px;
}


/* CENTER */
div.center{
    width:852px;
    font-size:0;
}


/* CONTENTS */
div.contents{
    width:787px;
    display:inline-block;
    vertical-align:top;
    margin-left:30px;
}


/* ALL */
div.all{
    width:852px;
    margin:auto;
    background-color:#effeed;
}